@import url(/Front-End/css/compoments/button.css);
@import url(/Front-End/css/compoments/input.css);
@import url(/Front-End/css/compoments/icon.css);
@import url(/Front-End/css/compoments/table.css);
@import url(/Front-End/css/compoments/paging.css);
@import url(/Front-End/css/compoments/select.css);
@import url(/Front-End/css/compoments/dialog.css);
@import url(/Front-End/css/layout/header.css);
@import url(/Front-End/css/layout/navbar.css);
@import url(/Front-End/css/layout/content.css);
@import url(/Front-End/css/compoments/toast.css);
body {
  font-family: GoogleSands;
  margin: 0px;
}

.main {
  width: 100%;
  height: calc(100vh - 48px);
  display: flex;
}
@font-face {
  font-family: GoogleSands_Bold;
  src: url(/Front-End/assets/font/GoogleSans-Bold.otf);
}
@font-face {
  font-family: GoogleSands;
  src: url(/Front-End/assets/font/GoogleSans-Regular.otf);
}
@font-face {
  font-family: GoogleSands_Italic;
  src: url(/Front-End/assets/font/GoogleSans-Italic.otf);
}
.m-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(209, 209, 209, 0.418);
  background-image: url(/Front-End/assets/icon/);
  display: none;
}
.m-loading .m-loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 36px;
  height: 36px;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
