.m-paging {
  position: relative;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-paging button {
  width: 16px;
  height: 16px;
}

.m-paging-left {
  position: absolute;
  left: 0px;
}

.m-paging-right {
  position: absolute;
  right: 0px;
}
